[Unit]
Description=Wilo Relay Safe Off
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
WorkingDirectory=/home/wilopi/Desktop/Wilo-Water-Pump-Automation
ExecStart=/usr/bin/python3 src/controller/relay_safe_off.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
